<p-menubar [model]="items" >
    <ng-template pTemplate="start">
        
        <input type="text" pInputText placeholder="Search">
    </ng-template>
  <ng-template pTemplate="end">
    <p-splitButton label="Normal" styleClass="p-button-text p-button-plain mr-2 mb-2" [model]="this.items2">
        <ng-template pTemplate="content">
           <a routerLink="carts" ><i class="pi pi-shopping-cart" pBadge value="{{carts.length}}"></i></a> 
            
            
        </ng-template>
    </p-splitButton> 
  </ng-template>
</p-menubar>